body {
  margin: 0;
  overflow-x: hidden;
  user-select: none;
}

.TodoHeader {
  top: 0;
  position: fixed;
}

.TodoList {
  margin-top: 110px;
}

#taskInput {
  width: 95vw;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 2.5vw;
}

#taskSubmit {
  width: 100vw;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #4caf50;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.351);
}

.task {
  width: 95vw;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 2.5vw;
  margin-bottom: 10px;
}

.ongoingTask {
  background-color: #d0d0d0;
}

.completedTask {
  background-color: #4caf50;
  color: white;
  text-decoration: line-through;
}
